@import '__variables.scss';

@font-face {
    font-family: 'Heavy'; 
    src: url('./font/mont_heavy.ttf');
    font-weight: normal; 
    font-style: normal;
  }


:root {
  .navbar {
   box-shadow: none;  
    --mdb-navbar-brand-margin-end: 0;
   --mdb-navbar-brand-img-margin-right: 0.25rem;

    --mdb-navbar-padding-top: 0;
    justify-content: 0;
  }
       


}




.blue {
  position: absolute;
  top: 64vh; 
}


  .sidebar h2 {
    font-family: 'Heavy', sans-serif; 
    color: $primary;
    font-weight: 800;
  }

  .navbar-brand {
    align-items: center;
  }

  body {
    background-color: #f8f9fa;
  }


  .sidebar a.active {
    color: $active;
    font-weight: bold;
  }


.slider-menu {
  margin-top: 10px;
}

.sidebar {
  background-color: #ffffff;
  height: 100vh;
  padding-top: 20px;
  border-right: 1px solid #E6EFF5;
}

.profile-pic {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.profile-pic-big {
height: 130px;
width: 130px;
}

.main-content {
  padding: 0;
}

  .sidebar-menu a {
    padding: 0;
    font-size: 18px;
    color: $muted-a;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    align-items: center;
    font-family: sans-serif;
  }

  .main-content {
    padding: 0;
  }


   

  .sidebar i {
    margin-right: 20px;
      font-size: 25px;}

  
#card {
  border-radius: 25px;
}

input {
  border-radius: 15px !important;
}

#heading h3{
  font-size: 28px;
  font-weight: 600;
  color: $primary;
}

#heading {
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #E6EFF5;
  width: auto;
}


#settingTabs {
  border-bottom: 1px solid #E6EFF5;
}

#profile-tab, #preferences-tab, #security-tab {
  font-size: 16px;
  font-weight: 600;
}

.nav-link {
  text-transform: none !important;

}

.nav-link.active {
    color: $active !important;
    border-color: $active !important;
}






.save-btn {
  background-color: #0056ff;
  color: white;
}

.save-btn:hover {
  background-color: #0041cc;
}

.profile-pic-container {
  position: relative;
  display: inline-block;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  padding: 5px;
  color: white;
  font-size: 18px;
}

.edit-icon i {
  font-size: 16px;
}

.form-label {
color: black;
}

input::placeholder {
  color: $placeholder !important;
}

.form-control {
  padding: 10px 20px !important;
  border: 1px solid $form-border !important;
}

#button {
  background-color: $active;
  padding: 10px 80px;
  font-size: 18px;
  border-radius: 15px;
  color: #ffffff;
  text-transform: none !important;
  font-weight: 400;
}

.nav-item:nth-child(2) .nav-link,
.nav-item:nth-child(3) .nav-link {
  color: $placeholder;
}


.profile-pic-container {
  position: relative;

  .edit-icon {
    position: absolute;
    top: 80px;
    right: 45px;
    height: auto;
  }
}

#heading-form {
  border-radius: 40px;
}

#heading-form-h {
  background-color: #F5F7FA;
  border: 1px solid #F5F7FA !important;  
  border-radius: 5px;      
  box-sizing: border-box;  
  width: 255px;  
  top: auto;
  margin: auto;  
  padding-left: 10px;
}


.input-with-icon {
  position: relative;      

  #heading-form {
    background-color: #F5F7FA;
    width: 255px;            
    padding-left: 50px !important;    
    height: 40px;            
    border: 1px solid #F5F7FA !important;  
    border-radius: 5px;      
    box-sizing: border-box; 
  }

  .search-icon {
    position: absolute;       
    top: 50%;                 
    left: 25px;             
    transform: translateY(-50%); 
    width: 20px;             
    height: auto;            
    pointer-events: none;    
  }
}


.search-icon-h {
  position: absolute;       
  top: 50%;                 
  left: 14px;             
  transform: translateY(-50%); 
  width: 20px;             
  height: auto;            
  pointer-events: none;    
}


#heading-form-block {
  display: none;
}
#heading-form-h, .search-icon-h {
  display: none;
}

body {
  overflow-x: hidden; /* Отключает горизонтальную прокрутку */
}

body {
  overflow-y: hidden; /* Отключает горизонтальную прокрутку */
}

ul#settingTabs {

  flex-wrap: nowrap;

  // -webkit-overflow-scrolling: touch; 

  .nav-item {


    .nav-link {
      width: 100%; 
      white-space: nowrap; 
      padding: 0.5rem; 
    }
  }
}

/* Основной стиль для .edit-icon */
.profile-pic-container .edit-icon {
  position: absolute;
  top: 15%;
    right: 18%;/* Расположите относительно размера контейнера */
  height: auto;
}

/* Медиа-запрос для малых экранов */
@media (max-width: 576px) {
  .profile-pic-container .edit-icon {
    top: 55%;
    right: 28%; /* Подстраиваем отступ справа */
  }
  #heading-form {
    display: none;
  }
  #heading-form-h, .search-icon-h {
    display: block;
  }
  #heading {
    border-bottom: none;
    width: auto;
  }

  .hide {
    display: none ;
  }

  .blue {
    top: 73vh; 
  }

.profile-pic-big {
  width: 130px;
  height: 130px;
}

  #heading-form, .search-icon {
    display: none;

  }  

  
  body {
    overflow-y: auto; 
  }

  #settingTabs {
display: flex;
justify-content: space-between;
  }

  #border {
  border-bottom: 1px solid #E6EFF5;
  width: auto;
  padding-bottom: 20px;

  #heading-form {
    background-color: #F5F7FA;
    width: auto;            
    padding-left: 50px !important;  
  }
}

/* Медиа-запрос для экранов от 576px до 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .profile-pic-container .edit-icon {
    top: 55%;
    right: 36%;
  }


  
  body {
    overflow-y: auto; 
  }

  .hide {
    display: none ;
  }


  #heading-form-block {
    display: none;
  }
  #heading-form-h, .search-icon-h {
    display: none;
  }


  
  body {
    overflow-y: auto; 
  }
  
}

/* Медиа-запрос для экранов от 768px до 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .profile-pic-container .edit-icon {
    top: 15%;
    right:-10%;
  }

  
  body {
    overflow-y: auto; 
  }

  .hide {
    display: none;
  }
  #heading-form-h, .search-icon-h {
    display: none;
  }


  
  body {
    overflow-y: auto; 
  }
  
}

/* Медиа-запрос для экранов от 992px до 1199.98px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .profile-pic-container .edit-icon {
    top: 15%;
    right: 8%;
  }
  #heading-form-h, .search-icon-h {
    display: none;
  }

  


  
  body {
    overflow-y: auto; 
  }
  
}

/* Медиа-запрос для экранов от 1200px до 1479px */
@media (min-width: 1200px) and (max-width: 1479px) {
  .profile-pic-container .edit-icon {
    top: 15%;
    right: 5%;
  }
  #heading-form-h, .search-icon-h {
    display: none;
  }

  body {
    overflow-x: hidden; /* Отключает горизонтальную прокрутку */
  }
  
  body {
    overflow-y: hidden; /* Отключает горизонтальную прокрутку */
  }
  
}

/* Медиа-запрос для экранов от 1480px до 2000px */
@media (min-width: 1480px) and (max-width: 2000px) {
  .profile-pic-container .edit-icon {
    top: 15%;
    right: 18%;
  }

  #border, 
  #border .input-with-icon, 
  #heading-form-h, 
  .search-icon-h {
    display: none !important; /* Используем !important для более строгого применения */
  }

  body {
    overflow-x: hidden; /* Отключает горизонтальную прокрутку */
  }
  
  body {
    overflow-y: hidden; /* Отключает горизонтальную прокрутку */
  }
  
}
}